appdirs==1.4.3
apt-clone==0.2.1
apt-xapian-index==0.47
asn1crypto==0.24.0
astroid==2.3.3
autopep8==1.5
beautifulsoup4==4.6.0
catfish==1.4.4
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
command-not-found==0.3
cryptography==2.1.4
cupshelpers==1.0
defer==1.0.6
distlib==0.3.0
distro-info===0.18ubuntu0.18.04.1
filelock==3.0.12
Flask==1.1.1
gunicorn==20.0.4
html5lib==0.999999999
httplib2==0.9.2
idna==2.6
importlib-metadata==1.6.0
importlib-resources==1.4.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
lazy-object-proxy==1.4.3
lightdm-gtk-greeter-settings==1.2.2
lxml==4.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
menulibre==2.2.0
mugshot==0.4.0
netifaces==0.10.4
olefile==0.45.1
PAM==0.4.2
pexpect==4.2.1
Pillow==6.2.0
pipenv==2018.11.26
powerline-status==2.6
psutil==5.4.2
pycairo==1.16.2
pycodestyle==2.5.0
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
pygobject==3.26.1
PyICU==1.9.8
pylint==2.4.4
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.6.1
python-debian==0.1.32
pyxdg==0.25
PyYAML==3.12
reportlab==3.4.0
requests==2.18.4
requests-unixsocket==0.1.5
SecretStorage==2.3.1
sessioninstaller==0.0.0
six==1.14.0
systemd-python==234
typed-ast==1.4.1
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.22
virtualenv==20.0.15
virtualenv-clone==0.5.4
webencodings==0.5
Werkzeug==1.0.0
wrapt==1.11.2
xkit==0.0.0
zipp==3.1.0
genuricorn==20.0.4
